* {
  margin: 0;
  padding: 0;
}
.header {
  border: none;
}
.about {
  &:hover {
    color: rgb(255, 0, 119);
    transition: all 900ms ease;
  }
}
.text {
  color: black;
}
.logoHeader {
  border-radius: 0.8em;
  cursor: pointer;
}
.linkLogout {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.3rem;
}
#bgInfo{
  background: linear-gradient(
    343deg,
    rgba(96, 101, 105, 1) 0%,
    rgba(213, 31, 116, 1) 75%,
    rgba(169, 57, 112, 1) 83%,
    rgba(108, 94, 106, 1) 100%,
    rgba(223, 25, 117, 1) 100%,
    rgba(96, 101, 105, 1) 100%
  );
}
#linkLogout {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.3rem;
}
#collasible-nav-dropdown{
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.3rem;
}
.dropdown-item.active, .dropdown-item:active {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #6d737b;
  background: linear-gradient(
    343deg,
    rgba(96, 101, 105, 1) 0%,
    rgba(213, 31, 116, 1) 75%,
    rgba(169, 57, 112, 1) 83%,
    rgba(108, 94, 106, 1) 100%,
    rgba(223, 25, 117, 1) 100%,
    rgba(96, 101, 105, 1) 100%
  );
}
.dropdown {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: bold;
}
