body {
  overflow-x: hidden;
}

.profile-comment {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  float: left;
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

.profile-comment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-comment .file {
  position: absolute;
  text-align: center;
  bottom: 0;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
  color: #fff;
  width: 100%;
  padding: 10px 0 15px 0;
}

/* MOBILE */
@media (max-width: 414px) {
  .row {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 22em;
    left: 1.6em;
    top: -3.5em;
  }
  .social {
    padding: 2px;
  }
  #a1 {
    left: -0.1em;
    top: -1em;
  }
}


@media (max-width: 1024px) {
  #a1 {
    left: -0.1em;
    top: -1em;
  }
}

@media (max-width: 375px) {
  #a1 {
    left: -0.1em;
    top: -1em;
    float: left;
  }
  .row {
    left: 1.1em;
  }
}